* {
    padding: 0;
    margin: 0;
}

#productForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 50px auto;
    margin-top: 20px;
    font-size: 25px;
    gap: 10px;
}

#productForm input {
    padding: 10px;
    border-radius: 5px;
}

#productForm button {
    padding: 10px;
    background-color: gray;
    color: white;
    font-size: 25px;
    border: solid 1px gray;
    border-radius: 5px;
}

#productForm button:hover {
    cursor: pointer;
    background-color: aqua;
    color: green;
}

#title {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    text-shadow: 0 0 5px red;
}

#productTable {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 5px gray;
}

#productTable th {
    background-color: gray;
    color: white;
    padding: 12px;
    font-size: 22px;
}

#productTable td {
    padding: 10px;
    border: 1px solid #ccc;
}

#productTable tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#productTable tbody tr:hover {
    background-color: #d1f0ff;
    cursor: pointer;
}

.delete-btn {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
}

.delete-btn:hover {
    background-color: darkred;
    cursor: pointer;
}