* {
    margin: 0;
    padding: 0;
}

#user-img {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px;
}

#user-img img {
    border-radius: 50px;
}

#myname {
    font-size: 36px;
    text-shadow: 0 0 5px red;
}

#user-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 20px auto;
    gap: 10px;
    font-size: 25px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5px blue;
}

#user-form input {
    padding: 5px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid gray;
}

#submit{
    margin: 0 auto;
    padding: 5px 20px 5px 20px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid gray;
    width: fit-content;
}

#submitBtn:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}

#user-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 5px gray;
}
#user-table th{
    padding: 12px;
}
#user-table td{
    padding: 10px;
    border: 1px solid gray;
}
#user-table tbody tr:nth-child(odd){
    background-color: #f2f2f2;
}
#user-table tbody tr:hover{
    background-color: #d1f0ff;
} 